<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.racos2.jeonju_where_go">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permisson.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />






    <application


        android:allowBackup="true"
        android:icon="@mipmap/app_icon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme = "@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            />





        <activity
            android:name=".SelectActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Select2Activity"
            android:theme="@style/AppTheme" />




        <activity android:name=".lastpage_fromMypage" />
        <activity android:name=".lastpage" />
        <activity android:name=".NextPage"/>
        <activity android:name=".Onlymap"/>
        <activity android:name=".MypageActivity"/>
        <activity android:name=".Activity.Activity_Review"/>
        <activity android:name=".Activity.Activity_Review_Detail"/>
        <activity android:name=".Activity.Activity_Review_Write"/>
        <activity
            android:name=".RecomandActivity"/>





        //푸쉬 알람(fcm) 메타베이스
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/main_icon1" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />




        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>



        <!--FCM(푸쉬알람) 서비스 -->
        <service
            android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>



    </application>

</manifest>
